.header {
  // 헤더 탑
  .header_top {
    border-bottom: 1px solid $color-border;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;

      @include res() {
        position: fixed;
        left: 0;
        right: 0;
        height: 80px;
        background: $color-white;
        border-bottom: 1px solid $color-border;
        z-index: 1000;
      }

      .top_quick {
        ul {
          display: flex;
          gap: $size-gap;
          li {
            position: relative;
            white-space: nowrap;
            word-break: keep-all;
            a {
              display: block;
              font-size: 14px;
              color: $color-gray;
            }
            & ~ li::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -14px;
              transform: translate(-50%, -50%);
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background: $color-border;
            }
          }
        }
        @include res() {
          display: none;
        }
      }
      .top_user {
        width: 438px;
        ul {
          display: flex;
          justify-content: flex-end;
          gap: $size-gap;
          li {
            white-space: nowrap;
            word-break: keep-all;
          }
          .la_chg {
            position: relative;
            .la_sct {
              display: block;
              font-size: 14px;
              color: $color-gray;
              cursor: pointer;
              .material-symbols-outlined {
                vertical-align: -2px;
                font-size: 14px;
              }
              ul {
                position: absolute;
                top: 32px;
                left: 0;

                width: 55px;
                border: 1px solid #ddd;
                background: #fff;
                color: #333;
                line-height: 29px;

                display: none;
                flex-direction: column;
                align-items: stretch;

                z-index: 1001;

                &.on {
                  display: flex;
                  gap: 0;
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: 50%;
                  transform: translate(-50%, 0) rotate(45deg);
                  width: 20px;
                  height: 20px;
                  background: #fff;
                  border: 1px solid #ddd;
                }

                li {
                  position: relative;
                  background: #fff;

                  & ~ li {
                    border-top: 1px solid #ddd;
                  }

                  a {
                    display: block;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        @include res() {
          display: none;
        }
      }
    }
  }

  // 메뉴
  .header_nav {
    border-bottom: 1px solid $color-border;

    @include res() {
      position: fixed;
      bottom: 0;
      left: -100%;
      z-index: 1000;

      background: $color-white;
      width: 100%;
      height: calc(100vh - 80px);
      padding: 40px 24px 0 24px;

      transition: 0.5s;

      &.on {
        left: 0;
      }
    }
    &.on {
      .gnb {
        > li {
          .sub {
            height: 480px;

            @include res() {
              height: auto;
            }
          }
          .sub_reservation {
            height: 480px;
          }
        }
        &::before {
          height: 481px;
          border-bottom: 1px solid $color-border;
        }
      }
      .sub_menu {
        height: 434px;
        border-bottom: 1px solid $color-border;
      }
    }
    &:hover {
      .sub_menu {
        height: 434px;
        border-bottom: 1px solid $color-border;
      }
    }
    .gnb_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include res() {
        display: block;
      }

      .util {
        position: relative;
        width: 24px;
        height: 18px;
        cursor: pointer;

        @include res() {
          display: none;
        }

        span {
          font-size: 0;

          &::before {
            content: "";
            position: absolute;
            inset: 50% 0 auto 0;
            height: 2px;
            background: $color-body;
            border-radius: 2px;
            transform: translate(0, -50%);
          }

          &::after {
            content: "";
            position: absolute;
            inset: 50% 0 auto 0;
            height: 2px;
            background: $color-body;
            border-radius: 2px;
            transform: translate(0, -50%);
          }
        }

        .menu {
          background: transparent;
          border: none;
          outline: none;

          &::before {
            content: "";
            position: absolute;
            inset: 0 0 auto 0;
            height: 2px;
            background: $color-body;
            border-radius: 2px;
          }

          &::after {
            content: "";
            position: absolute;
            inset: auto 0 0 0;
            height: 2px;
            background: $color-body;
            border-radius: 2px;
          }
        }
      }

      .gnb {
        &:hover {
          > li {
            .sub {
              height: 480px;
              @include res() {
                height: auto;
              }
            }
            .sub_reservation {
              height: 480px;
            }
          }
          &::before {
            height: 481px;
            border-bottom: 1px solid $color-border;

            @include res() {
              border-bottom: none;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 132px;
          left: 0;
          width: 100%;
          height: 0;
          background: $color-white;

          transition: 0.5s;

          z-index: 1000;

          @include res() {
            display: none;
          }
        }

        display: flex;
        justify-content: space-between;

        @include res() {
          flex-direction: column;
        }
        li {
          position: relative;
          width: 170px;
          white-space: nowrap;
          word-break: keep-all;
          text-align: center;

          @include res() {
            width: 100%;
            text-align: left;
          }

          a {
            display: block;
            font-size: 18px;
            font-weight: 500;
            line-height: 70px;

            @include res() {
              line-height: 56px;
            }
            span {
              vertical-align: middle;
            }
          }
          .sub {
            position: absolute;
            top: 71px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 0;
            overflow: hidden;
            background: $color-white;

            z-index: 1001;

            transition: 0.5s;

            @include res() {
              display: none;
              position: static;
              transform: translate(0, 0);
              background: $color-bg;
              padding: 0;
              width: auto;
              border: none;
              border-radius: 0;
              box-shadow: none;
              transition: none;
            }

            li {
              color: $color-body;
              &:hover {
                color: $color-body;
                &::after {
                  width: 0;
                }
              }

              a {
                font-size: 16px;
                font-weight: 400;
                line-height: 40px;

                @include res() {
                  text-align: center;
                  border-bottom: 1px solid $color-border;
                }
                &:hover {
                  background: $color-main;
                  color: $color-white;
                }
              }
            }
          }
        }

        .g_menu {
          @include res() {
            border-bottom: 1px solid $color-border;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 3px;
            background: $color-main;

            @include res() {
              display: none;
            }
          }

          &:hover {
            color: $color-main;
            &::after {
              width: 100%;
              transition: 0.5s;
            }
          }
        }
        .top_quick_btn {
          position: relative;
          width: 135px;
          background: $color-main;

          @include res() {
            display: none;
          }
          a {
            font-size: 18px;
            line-height: 70px;
            text-align: center;

            color: $color-white;
            span {
              vertical-align: -6px;
              padding-right: 8px;
            }
          }
          .sub_reservation {
            position: absolute;
            top: 71px;
            left: 100%;
            transform: translate(-50%, 0);
            height: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 270px;
            background: $color-main;
            text-align: center;

            overflow: hidden;
            transition: 0.5s;

            z-index: 1000;

            .top {
              padding: 32px 0 0 0;
              .material-symbols-outlined {
                margin: 0 0 16px 0;
                font-size: 80px;
                font-weight: 200;
                color: $color-main;
                background: $color-white;
                padding: 0 5px 8px 5px;
                border-radius: 50%;
              }

              .input_f {
                display: inline-block;
                text-align: center;
                form {
                  margin: 0 0 16px 0;
                  display: flex;
                  align-items: center;
                  gap: 8px;

                  input {
                    width: 60px;
                    font-size: 12px;
                    padding: 8px;
                    border: none;
                    outline: none;
                    letter-spacing: -0.025em;
                    font-family: "Pretendard Variable";
                    text-align: center;
                  }
                  span {
                    color: $color-white;
                  }
                }
              }

              p {
                margin: 0 0 16px 0;
                font-size: 13px;
                line-height: 20px;
                color: $color-white;

                .point {
                  font-size: 18px;
                  font-weight: 500;
                  color: #ffd000;
                }
              }
            }
            .bottom {
              a {
                width: 100%;
                display: inline-block;
                background: $color-sub;
                color: $color-white;
              }
            }
          }
        }
        .mc {
          background: $color-sub;
        }
      }
    }
  }

  .nav_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $color-white;
    z-index: 1000;

    .gnb_wrap {
      .gnb {
        &::before {
          top: 71px;
        }
      }
    }
  }

  .mobile_btn {
    display: none;

    @include res() {
      display: block;

      position: fixed;
      inset: 25px 10px auto auto;
      z-index: 1000;
      width: 30px;
      height: 30px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: $color-body;

        transition: 0.5s;
      }

      button {
        border: none;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          inset: 7px 5px auto 5px;
          position: absolute;
          height: 2px;
          background: $color-body;
          opacity: 1;

          transition: 0.5s;
        }

        &::after {
          content: "";
          inset: auto 5px 7px 5px;
          position: absolute;
          height: 2px;
          background: $color-body;
          opacity: 1;

          transition: 0.5s;
        }
      }

      &.on {
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
        button {
          &::before,
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}
