.main_h_lecture {
  background: $color-bg;

  .container_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $size-gap;

    @include res() {
      grid-template-columns: repeat(1, 1fr);
    }

    .con_box {
      .img_box {
        margin: 0 0 24px 0;
      }
      .txt_box {
        span {
          display: block;
          margin: 0 0 8px 0;
          font-size: 14px;
          color: $color-main;
        }
      }
    }
  }
}
