$color-main: #0770bb;
$color-sub: #199da3;
$color-body: #222222;
$color-white: #ffffff;
$color-border: #dddddd;
$color-bg: #f9f9f9;
$color-gray: #777777;

$size-pc: 1200px;
$size-gap: 30px;
